{% extends 'base/main.html' %} {% block content %}

<div class="instrumentsContainer">
  <div class="instrument">
    {% for instrument in instruments %}
    <h2>{{instrument.name}}</h2>
    <h3>{{instrument.category}}</h3>
    <h3>{{instrument.price}}</h3>
    <img src="{{ instrument.image.url }}" alt="Not found" />
    <p>
      <a href="{% url 'instrument' instrument.id %}" class="btn"
        >View product</a
      >

      <a href="#" class="btn">Add to cart</a>

      {% if request.user.is_superuser%}
      <a href="{% url 'instrument-update' instrument.id %}" class="btn"
        >Update</a
      >
      <a href="{% url 'instrument-delete' instrument.id %}" class="btn"
        >Delete</a
      >
      {% endif %}
    </p>
    {% endfor %}
  </div>
</div>
{% endblock content %}
